body{
    background-color: #090a11;
    margin: 0;
}

a{
    color: #b22222;
    cursor: grab;
}

.casa-2{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 3%;
    text-align: center;
}

.logo-1{
    padding:10px ;
    width: 6%;
    height: 6%;
    margin: 0 0 0 30em;
}

.nome-pagina{
    color: #c5c6c7; 
    margin: 2rem 0rem 0 -76rem;
    font-size: 36px;
}

.cor{
    color: #b22222;
}

.formulario{
   margin: 40px 0 0 570px;
}

form{
    margin: 30px;
    color: #c5c6c7;
}

form input{
    display: block;
    color: #090a11;
    margin: 5px 0 0 1px;
    font-size: 17px;
}

form label{
    display: block;
    color: #c5c6c7;
    margin: 5px 0 0 1px;
    font-size: 17px;
}

textarea{
    margin: 0 0 0 1px;
}

.enviar{
    color: #c5c6c7;
    border-radius: 7px;
    background: #b22222;
    font-size: 15px;
    cursor: grab;
    padding: 5px 0;
    transition: 0s;
}

.enviar:hover{
    color: black;
}