.casa{
    position: fixed;
    top: 0;
    left: 0;
    background: #090a11;
    margin: 0;
    opacity: 0.98;
    width: 100%;
  

}

a{
    color: #b22222;
    cursor: grab;
}

.casa-2{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 3%;
}

.logo-1{
    padding:10px ;
    width: 6%;
    height: 6%;
    margin:  0px 630px 90px 0;
}

.nome-pagina{
    color: #c5c6c7; 
    margin:30px 640px 0 0;
    font-size: 36px;
}

