body::-webkit-scrollbar {
    width: 13px;
            
  }
  
  body::-webkit-scrollbar-track {
    background: #090a11;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#c5c6c7;   
    border-radius: 8px;       
    border: 3px solid #b22222;  
  }


body{
    margin: 0;
    background: linear-gradient(#000,#242935, #000)
}

.casa{
    position: fixed;
    top: 0;
    left: 0;
    background: #090a11;
    margin: 0;
    opacity: 0.98;
    width: 100%;

}

a{
    color: #b22222;
    cursor: grab;
}

.casa-2{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 3%;
}

.logo-1{
    padding:10px ;
    width: 6%;
    height: 6%;
}

.nome-pagina{
    color: #c5c6c7; 
    margin:30px 400px 0 0;
    font-size: 36px;
}

.lista-1{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 -124px;
}

.listas-2{
    padding: 30px;
    color: #c5c6c7;
    font-size: 19px;
    justify-content: space-between;
}

.busca{
    margin-top: 30px;
    height: 50px;
}

.busca input{
    background-image:url(lupinha.png);
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: 96%;
    height: 25px;
}

.img-1{
    width: 100%;
}

.titulo-3{
    color: #c5c6c7;
    text-align: center;
    

}
.letras{
    color: #b22222;
}

.subtitulo{
    color: #c5c6c7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.paragrafo{
    color: #c5c6c7;
    font-size: larger;
}

.titulo-4{
    color: #c5c6c7;
    text-align: center;
}

.letras-2{
    color: #b22222;
}

.ul-lista{
    margin: 0 0 20px 90px;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-1{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.img-2{
    width: 40%;
    height: 40%;
}

.subtitulo-2{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-1{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.ul-lista-2{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 130px 0 0;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-2{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.subtitulo-3{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-3{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.img-3{
    margin-top: 40px;
    width: 20%;
    height: 20%;
}

.ul-lista-3{
    margin: 0 0 20px 90px;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-3{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.img-4{
    width: 40%;
    height: 40%;
}

.subtitulo-4{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-3{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.ul-lista-4{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 130px 0 0;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-4{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.subtitulo-5{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-4{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.img-5{
    margin-top: 40px;
    width: 40%;
    height: 40%;
}

.ul-lista-5{
    margin: 40px 0 20px 90px;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-5{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.img-6{
    width: 40%;
    height: 40%;
}

.subtitulo-6{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-5{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.ul-lista-6{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 130px 0 0;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-6{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.subtitulo-7{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-6{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.img-7{
    margin-top: 40px;
    width: 40%;
    height: 40%;
}

.ul-lista-7{
    margin: 40px 0 20px 90px;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-7{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.img-8{
    width: 40%;
    height: 40%;
}

.subtitulo-8{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-7{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.ul-lista-8{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 130px 0 0;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-8{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.subtitulo-9{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-8{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.img-9{
    margin-top: 40px;
    width: 40%;
    height: 40%;
}

.ul-lista-9{
    margin: 40px 0 20px 90px;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-9{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.img-10{
    width: 40%;
    height: 40%;
}

.subtitulo-10{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-9{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.ul-lista-10{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 130px 0 0;
    list-style: none;
    color: #c5c6c7;
    font-size: large;
}

.section-10{
    display: flex;
    margin: 0 10% 0 10%;
    color: white;
}

.subtitulo-11{
    text-align: center;
    color: #c5c6c7;
}

.paragrafo-10{
    text-align: justify;
    margin: 20px;
    font-size: large;
    color: #c5c6c7;
}

.img-10{
    margin-top: 40px;
    width: 40%;
    height: 40%;
}

.rodape{
color: #c5c6c7;
margin: 80px 0 0 0;
text-decoration: overline;
}

.title{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
    
}

.color{
    color: #b22222;
}

.redessociais{
    display: flex;
    justify-content: center;
    
    padding: 0 0 0 0;

}

.whatsapp{
    height: 3%;
    width: 3%;
}

.instagram{
    height: 3%;
    width: 3%;
}

.facebook{
    height: 3%;
    width: 3%;
}